:root {
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-grey-5: hsl(210, 22%, 49%);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputText {
  border-radius: 1px;
  font-size: 15px;
  width: 400px;
  border: 0;
  padding: 10px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.image{
 width: 200px; 
 height: 200px;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.section {
  display: flex;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 20px 10px;
}

button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.spinner{
  width: 20px;
  height: 20px;
}
